{
  "extends": [
    "next",
    "prettier",
    "plugin:tailwindcss/recommended"
  ],
  "settings": {
    "next": {
      "rootDir": "next/"
    }
  },
  "env": {
    "browser": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["tailwindcss"]
}